@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
html { font-size: 62.5%; }

body { font-family: "Open Sans", sans-serif; font-weight: 400; line-height: 1.7; color: #333; }

h1 { font-size: 6rem; font-weight: 400; letter-spacing: 0.6rem; }

h2 { font-size: 5rem; font-weight: 400; letter-spacing: 0.55rem; }

h3 { font-size: 4rem; font-weight: 400; letter-spacing: 0.53rem; }

h4 { font-size: 3rem; font-weight: 400; letter-spacing: 0.5rem; }

h5 { font-size: 2.5rem; font-weight: 700; letter-spacing: 0.45rem; }

h6 { font-size: 2rem; font-weight: 700; letter-spacing: 0.4rem; }

p { font-size: 1.6rem; }

small { font-size: 0.95rem; }

a { font-size: 1.6rem; }

* { box-sizing: border-box; }

body { margin: 0; padding: 0; }

.container { width: calc(100% - 10rem); max-width: 1200px; margin: 0 auto; }

.container-full { width: 100%; }

.row { display: flex; flex-wrap: wrap; }

.col-xs-offset-0, .col-sm-offset-0, .col-md-offset-0, .col-lg-offset-0, .col-xl-offset-0 { margin-left: 0; }

@media only screen and (max-width: 576px) { .container { width: 100%; }
  .col-xl-1 { flex: 0 0 100%; }
  .col-xl-2 { flex: 0 0 100%; }
  .col-xl-3 { flex: 0 0 100%; }
  .col-xl-4 { flex: 0 0 100%; }
  .col-xl-5 { flex: 0 0 100%; }
  .col-xl-6 { flex: 0 0 100%; }
  .col-xl-7 { flex: 0 0 100%; }
  .col-xl-8 { flex: 0 0 100%; }
  .col-xl-9 { flex: 0 0 100%; }
  .col-xl-10 { flex: 0 0 100%; }
  .col-xl-11 { flex: 0 0 100%; }
  .col-xl-12 { flex: 0 0 100%; }
  .col-xl-offset-1 { margin-left: 0; }
  .col-xl-offset-2 { margin-left: 0; }
  .col-xl-offset-3 { margin-left: 0; }
  .col-xl-offset-4 { margin-left: 0; }
  .col-xl-offset-5 { margin-left: 0; }
  .col-xl-offset-6 { margin-left: 0; }
  .col-xl-offset-7 { margin-left: 0; }
  .col-xl-offset-8 { margin-left: 0; }
  .col-xl-offset-9 { margin-left: 0; }
  .col-xl-offset-10 { margin-left: 0; }
  .col-xl-offset-11 { margin-left: 0; }
  .col-xl-offset-12 { margin-left: 0; }
  .col-lg-1 { flex: 0 0 100; }
  .col-lg-2 { flex: 0 0 100; }
  .col-lg-3 { flex: 0 0 100; }
  .col-lg-4 { flex: 0 0 100; }
  .col-lg-5 { flex: 0 0 100; }
  .col-lg-6 { flex: 0 0 100; }
  .col-lg-7 { flex: 0 0 100; }
  .col-lg-8 { flex: 0 0 100; }
  .col-lg-9 { flex: 0 0 100; }
  .col-lg-10 { flex: 0 0 100; }
  .col-lg-11 { flex: 0 0 100; }
  .col-lg-12 { flex: 0 0 100; }
  .col-lg-offset-1 { margin-left: 0; }
  .col-lg-offset-2 { margin-left: 0; }
  .col-lg-offset-3 { margin-left: 0; }
  .col-lg-offset-4 { margin-left: 0; }
  .col-lg-offset-5 { margin-left: 0; }
  .col-lg-offset-6 { margin-left: 0; }
  .col-lg-offset-7 { margin-left: 0; }
  .col-lg-offset-8 { margin-left: 0; }
  .col-lg-offset-9 { margin-left: 0; }
  .col-lg-offset-10 { margin-left: 0; }
  .col-lg-offset-11 { margin-left: 0; }
  .col-lg-offset-12 { margin-left: 0; }
  .col-md-1 { flex: 0 0 100%; }
  .col-md-2 { flex: 0 0 100%; }
  .col-md-3 { flex: 0 0 100%; }
  .col-md-4 { flex: 0 0 100%; }
  .col-md-5 { flex: 0 0 100%; }
  .col-md-6 { flex: 0 0 100%; }
  .col-md-7 { flex: 0 0 100%; }
  .col-md-8 { flex: 0 0 100%; }
  .col-md-9 { flex: 0 0 100%; }
  .col-md-10 { flex: 0 0 100%; }
  .col-md-11 { flex: 0 0 100%; }
  .col-md-12 { flex: 0 0 100%; }
  .col-md-offset-1 { margin-left: 0; }
  .col-md-offset-2 { margin-left: 0; }
  .col-md-offset-3 { margin-left: 0; }
  .col-md-offset-4 { margin-left: 0; }
  .col-md-offset-5 { margin-left: 0; }
  .col-md-offset-6 { margin-left: 0; }
  .col-md-offset-7 { margin-left: 0; }
  .col-md-offset-8 { margin-left: 0; }
  .col-md-offset-9 { margin-left: 0; }
  .col-md-offset-10 { margin-left: 0; }
  .col-md-offset-11 { margin-left: 0; }
  .col-md-offset-12 { margin-left: 0; }
  .col-sm-1 { flex: 0 0 100%; }
  .col-sm-2 { flex: 0 0 100%; }
  .col-sm-3 { flex: 0 0 100%; }
  .col-sm-4 { flex: 0 0 100%; }
  .col-sm-5 { flex: 0 0 100%; }
  .col-sm-6 { flex: 0 0 100%; }
  .col-sm-7 { flex: 0 0 100%; }
  .col-sm-8 { flex: 0 0 100%; }
  .col-sm-9 { flex: 0 0 100%; }
  .col-sm-10 { flex: 0 0 100%; }
  .col-sm-11 { flex: 0 0 100%; }
  .col-sm-12 { flex: 0 0 100%; }
  .col-sm-offset-1 { margin-left: 0; }
  .col-sm-offset-2 { margin-left: 0; }
  .col-sm-offset-3 { margin-left: 0; }
  .col-sm-offset-4 { margin-left: 0; }
  .col-sm-offset-5 { margin-left: 0; }
  .col-sm-offset-6 { margin-left: 0; }
  .col-sm-offset-7 { margin-left: 0; }
  .col-sm-offset-8 { margin-left: 0; }
  .col-sm-offset-9 { margin-left: 0; }
  .col-sm-offset-10 { margin-left: 0; }
  .col-sm-offset-11 { margin-left: 0; }
  .col-sm-offset-12 { margin-left: 0; }
  .col-xs-1 { flex: 0 0 8.3333333333%; }
  .col-xs-2 { flex: 0 0 16.6666666667%; }
  .col-xs-3 { flex: 0 0 25%; }
  .col-xs-4 { flex: 0 0 33.3333333333%; }
  .col-xs-5 { flex: 0 0 41.6666666667%; }
  .col-xs-6 { flex: 0 0 50%; }
  .col-xs-7 { flex: 0 0 58.3333333333%; }
  .col-xs-8 { flex: 0 0 66.6666666667%; }
  .col-xs-9 { flex: 0 0 75%; }
  .col-xs-10 { flex: 0 0 83.3333333333%; }
  .col-xs-11 { flex: 0 0 91.6666666667%; }
  .col-xs-12 { flex: 0 0 100%; }
  .col-xs-offset-1 { margin-left: 8.3333333333%; }
  .col-xs-offset-2 { margin-left: 16.6666666667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.3333333333%; }
  .col-xs-offset-5 { margin-left: 41.6666666667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.3333333333%; }
  .col-xs-offset-8 { margin-left: 66.6666666667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.3333333333%; }
  .col-xs-offset-11 { margin-left: 91.6666666667%; }
  .col-xs-offset-12 { margin-left: 100%; } }

@media only screen and (min-width: 577px) and (max-width: 767px) { .container { width: calc(100% - 6rem); }
  .col-xl-1 { flex: 0 0 100%; }
  .col-xl-2 { flex: 0 0 100%; }
  .col-xl-3 { flex: 0 0 100%; }
  .col-xl-4 { flex: 0 0 100%; }
  .col-xl-5 { flex: 0 0 100%; }
  .col-xl-6 { flex: 0 0 100%; }
  .col-xl-7 { flex: 0 0 100%; }
  .col-xl-8 { flex: 0 0 100%; }
  .col-xl-9 { flex: 0 0 100%; }
  .col-xl-10 { flex: 0 0 100%; }
  .col-xl-11 { flex: 0 0 100%; }
  .col-xl-12 { flex: 0 0 100%; }
  .col-xl-offset-1 { margin-left: 0; }
  .col-xl-offset-2 { margin-left: 0; }
  .col-xl-offset-3 { margin-left: 0; }
  .col-xl-offset-4 { margin-left: 0; }
  .col-xl-offset-5 { margin-left: 0; }
  .col-xl-offset-6 { margin-left: 0; }
  .col-xl-offset-7 { margin-left: 0; }
  .col-xl-offset-8 { margin-left: 0; }
  .col-xl-offset-9 { margin-left: 0; }
  .col-xl-offset-10 { margin-left: 0; }
  .col-xl-offset-11 { margin-left: 0; }
  .col-xl-offset-12 { margin-left: 0; }
  .col-lg-1 { flex: 0 0 100%; }
  .col-lg-2 { flex: 0 0 100%; }
  .col-lg-3 { flex: 0 0 100%; }
  .col-lg-4 { flex: 0 0 100%; }
  .col-lg-5 { flex: 0 0 100%; }
  .col-lg-6 { flex: 0 0 100%; }
  .col-lg-7 { flex: 0 0 100%; }
  .col-lg-8 { flex: 0 0 100%; }
  .col-lg-9 { flex: 0 0 100%; }
  .col-lg-10 { flex: 0 0 100%; }
  .col-lg-11 { flex: 0 0 100%; }
  .col-lg-12 { flex: 0 0 100%; }
  .col-lg-offset-1 { margin-left: 0; }
  .col-lg-offset-2 { margin-left: 0; }
  .col-lg-offset-3 { margin-left: 0; }
  .col-lg-offset-4 { margin-left: 0; }
  .col-lg-offset-5 { margin-left: 0; }
  .col-lg-offset-6 { margin-left: 0; }
  .col-lg-offset-7 { margin-left: 0; }
  .col-lg-offset-8 { margin-left: 0; }
  .col-lg-offset-9 { margin-left: 0; }
  .col-lg-offset-10 { margin-left: 0; }
  .col-lg-offset-11 { margin-left: 0; }
  .col-lg-offset-12 { margin-left: 0; }
  .col-md-1 { flex: 0 0 100%; }
  .col-md-2 { flex: 0 0 100%; }
  .col-md-3 { flex: 0 0 100%; }
  .col-md-4 { flex: 0 0 100%; }
  .col-md-5 { flex: 0 0 100%; }
  .col-md-6 { flex: 0 0 100%; }
  .col-md-7 { flex: 0 0 100%; }
  .col-md-8 { flex: 0 0 100%; }
  .col-md-9 { flex: 0 0 100%; }
  .col-md-10 { flex: 0 0 100%; }
  .col-md-11 { flex: 0 0 100%; }
  .col-md-12 { flex: 0 0 100%; }
  .col-md-offset-1 { margin-left: 0; }
  .col-md-offset-2 { margin-left: 0; }
  .col-md-offset-3 { margin-left: 0; }
  .col-md-offset-4 { margin-left: 0; }
  .col-md-offset-5 { margin-left: 0; }
  .col-md-offset-6 { margin-left: 0; }
  .col-md-offset-7 { margin-left: 0; }
  .col-md-offset-8 { margin-left: 0; }
  .col-md-offset-9 { margin-left: 0; }
  .col-md-offset-10 { margin-left: 0; }
  .col-md-offset-11 { margin-left: 0; }
  .col-md-offset-12 { margin-left: 0; }
  .col-xs-1 { flex: 0 0 8.3333333333%; }
  .col-xs-2 { flex: 0 0 16.6666666667%; }
  .col-xs-3 { flex: 0 0 25%; }
  .col-xs-4 { flex: 0 0 33.3333333333%; }
  .col-xs-5 { flex: 0 0 41.6666666667%; }
  .col-xs-6 { flex: 0 0 50%; }
  .col-xs-7 { flex: 0 0 58.3333333333%; }
  .col-xs-8 { flex: 0 0 66.6666666667%; }
  .col-xs-9 { flex: 0 0 75%; }
  .col-xs-10 { flex: 0 0 83.3333333333%; }
  .col-xs-11 { flex: 0 0 91.6666666667%; }
  .col-xs-12 { flex: 0 0 100%; }
  .col-xs-offset-1 { margin-left: 8.3333333333%; }
  .col-xs-offset-2 { margin-left: 16.6666666667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.3333333333%; }
  .col-xs-offset-5 { margin-left: 41.6666666667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.3333333333%; }
  .col-xs-offset-8 { margin-left: 66.6666666667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.3333333333%; }
  .col-xs-offset-11 { margin-left: 91.6666666667%; }
  .col-xs-offset-12 { margin-left: 100%; }
  .col-sm-1 { flex: 0 0 8.3333333333%; }
  .col-sm-2 { flex: 0 0 16.6666666667%; }
  .col-sm-3 { flex: 0 0 25%; }
  .col-sm-4 { flex: 0 0 33.3333333333%; }
  .col-sm-5 { flex: 0 0 41.6666666667%; }
  .col-sm-6 { flex: 0 0 50%; }
  .col-sm-7 { flex: 0 0 58.3333333333%; }
  .col-sm-8 { flex: 0 0 66.6666666667%; }
  .col-sm-9 { flex: 0 0 75%; }
  .col-sm-10 { flex: 0 0 83.3333333333%; }
  .col-sm-11 { flex: 0 0 91.6666666667%; }
  .col-sm-12 { flex: 0 0 100%; }
  .col-sm-offset-1 { margin-left: 8.3333333333%; }
  .col-sm-offset-2 { margin-left: 16.6666666667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.3333333333%; }
  .col-sm-offset-5 { margin-left: 41.6666666667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.3333333333%; }
  .col-sm-offset-8 { margin-left: 66.6666666667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.3333333333%; }
  .col-sm-offset-11 { margin-left: 91.6666666667%; }
  .col-sm-offset-12 { margin-left: 100%; } }

@media only screen and (min-width: 768px) and (max-width: 991px) { .container { width: calc(100% - 6rem); }
  .col-xl-1 { flex: 0 0 100%; }
  .col-xl-2 { flex: 0 0 100%; }
  .col-xl-3 { flex: 0 0 100%; }
  .col-xl-4 { flex: 0 0 100%; }
  .col-xl-5 { flex: 0 0 100%; }
  .col-xl-6 { flex: 0 0 100%; }
  .col-xl-7 { flex: 0 0 100%; }
  .col-xl-8 { flex: 0 0 100%; }
  .col-xl-9 { flex: 0 0 100%; }
  .col-xl-10 { flex: 0 0 100%; }
  .col-xl-11 { flex: 0 0 100%; }
  .col-xl-12 { flex: 0 0 100%; }
  .col-xl-offset-1 { margin-left: 0; }
  .col-xl-offset-2 { margin-left: 0; }
  .col-xl-offset-3 { margin-left: 0; }
  .col-xl-offset-4 { margin-left: 0; }
  .col-xl-offset-5 { margin-left: 0; }
  .col-xl-offset-6 { margin-left: 0; }
  .col-xl-offset-7 { margin-left: 0; }
  .col-xl-offset-8 { margin-left: 0; }
  .col-xl-offset-9 { margin-left: 0; }
  .col-xl-offset-10 { margin-left: 0; }
  .col-xl-offset-11 { margin-left: 0; }
  .col-xl-offset-12 { margin-left: 0; }
  .col-lg-1 { flex: 0 0 100%; }
  .col-lg-2 { flex: 0 0 100%; }
  .col-lg-3 { flex: 0 0 100%; }
  .col-lg-4 { flex: 0 0 100%; }
  .col-lg-5 { flex: 0 0 100%; }
  .col-lg-6 { flex: 0 0 100%; }
  .col-lg-7 { flex: 0 0 100%; }
  .col-lg-8 { flex: 0 0 100%; }
  .col-lg-9 { flex: 0 0 100%; }
  .col-lg-10 { flex: 0 0 100%; }
  .col-lg-11 { flex: 0 0 100%; }
  .col-lg-12 { flex: 0 0 100%; }
  .col-lg-offset-1 { margin-left: 0; }
  .col-lg-offset-2 { margin-left: 0; }
  .col-lg-offset-3 { margin-left: 0; }
  .col-lg-offset-4 { margin-left: 0; }
  .col-lg-offset-5 { margin-left: 0; }
  .col-lg-offset-6 { margin-left: 0; }
  .col-lg-offset-7 { margin-left: 0; }
  .col-lg-offset-8 { margin-left: 0; }
  .col-lg-offset-9 { margin-left: 0; }
  .col-lg-offset-10 { margin-left: 0; }
  .col-lg-offset-11 { margin-left: 0; }
  .col-lg-offset-12 { margin-left: 0; }
  .col-xs-1 { flex: 0 0 8.3333333333%; }
  .col-xs-2 { flex: 0 0 16.6666666667%; }
  .col-xs-3 { flex: 0 0 25%; }
  .col-xs-4 { flex: 0 0 33.3333333333%; }
  .col-xs-5 { flex: 0 0 41.6666666667%; }
  .col-xs-6 { flex: 0 0 50%; }
  .col-xs-7 { flex: 0 0 58.3333333333%; }
  .col-xs-8 { flex: 0 0 66.6666666667%; }
  .col-xs-9 { flex: 0 0 75%; }
  .col-xs-10 { flex: 0 0 83.3333333333%; }
  .col-xs-11 { flex: 0 0 91.6666666667%; }
  .col-xs-12 { flex: 0 0 100%; }
  .col-xs-offset-1 { margin-left: 8.3333333333%; }
  .col-xs-offset-2 { margin-left: 16.6666666667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.3333333333%; }
  .col-xs-offset-5 { margin-left: 41.6666666667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.3333333333%; }
  .col-xs-offset-8 { margin-left: 66.6666666667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.3333333333%; }
  .col-xs-offset-11 { margin-left: 91.6666666667%; }
  .col-xs-offset-12 { margin-left: 100%; }
  .col-sm-1 { flex: 0 0 8.3333333333%; }
  .col-sm-2 { flex: 0 0 16.6666666667%; }
  .col-sm-3 { flex: 0 0 25%; }
  .col-sm-4 { flex: 0 0 33.3333333333%; }
  .col-sm-5 { flex: 0 0 41.6666666667%; }
  .col-sm-6 { flex: 0 0 50%; }
  .col-sm-7 { flex: 0 0 58.3333333333%; }
  .col-sm-8 { flex: 0 0 66.6666666667%; }
  .col-sm-9 { flex: 0 0 75%; }
  .col-sm-10 { flex: 0 0 83.3333333333%; }
  .col-sm-11 { flex: 0 0 91.6666666667%; }
  .col-sm-12 { flex: 0 0 100%; }
  .col-sm-offset-1 { margin-left: 8.3333333333%; }
  .col-sm-offset-2 { margin-left: 16.6666666667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.3333333333%; }
  .col-sm-offset-5 { margin-left: 41.6666666667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.3333333333%; }
  .col-sm-offset-8 { margin-left: 66.6666666667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.3333333333%; }
  .col-sm-offset-11 { margin-left: 91.6666666667%; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-md-1 { flex: 0 0 8.3333333333%; }
  .col-md-2 { flex: 0 0 16.6666666667%; }
  .col-md-3 { flex: 0 0 25%; }
  .col-md-4 { flex: 0 0 33.3333333333%; }
  .col-md-5 { flex: 0 0 41.6666666667%; }
  .col-md-6 { flex: 0 0 50%; }
  .col-md-7 { flex: 0 0 58.3333333333%; }
  .col-md-8 { flex: 0 0 66.6666666667%; }
  .col-md-9 { flex: 0 0 75%; }
  .col-md-10 { flex: 0 0 83.3333333333%; }
  .col-md-11 { flex: 0 0 91.6666666667%; }
  .col-md-12 { flex: 0 0 100%; }
  .col-md-offset-1 { margin-left: 8.3333333333%; }
  .col-md-offset-2 { margin-left: 16.6666666667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.3333333333%; }
  .col-md-offset-5 { margin-left: 41.6666666667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.3333333333%; }
  .col-md-offset-8 { margin-left: 66.6666666667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.3333333333%; }
  .col-md-offset-11 { margin-left: 91.6666666667%; }
  .col-md-offset-12 { margin-left: 100%; } }

@media only screen and (min-width: 992px) and (max-width: 1199px) { .container { width: calc(100% - 6rem); }
  .col-xl-1 { flex: 0 0 100%; }
  .col-xl-2 { flex: 0 0 100%; }
  .col-xl-3 { flex: 0 0 100%; }
  .col-xl-4 { flex: 0 0 100%; }
  .col-xl-5 { flex: 0 0 100%; }
  .col-xl-6 { flex: 0 0 100%; }
  .col-xl-7 { flex: 0 0 100%; }
  .col-xl-8 { flex: 0 0 100%; }
  .col-xl-9 { flex: 0 0 100%; }
  .col-xl-10 { flex: 0 0 100%; }
  .col-xl-11 { flex: 0 0 100%; }
  .col-xl-12 { flex: 0 0 100%; }
  .col-xl-offset-1 { margin-left: 0; }
  .col-xl-offset-2 { margin-left: 0; }
  .col-xl-offset-3 { margin-left: 0; }
  .col-xl-offset-4 { margin-left: 0; }
  .col-xl-offset-5 { margin-left: 0; }
  .col-xl-offset-6 { margin-left: 0; }
  .col-xl-offset-7 { margin-left: 0; }
  .col-xl-offset-8 { margin-left: 0; }
  .col-xl-offset-9 { margin-left: 0; }
  .col-xl-offset-10 { margin-left: 0; }
  .col-xl-offset-11 { margin-left: 0; }
  .col-xl-offset-12 { margin-left: 0; }
  .col-xs-1 { flex: 0 0 8.3333333333%; }
  .col-xs-2 { flex: 0 0 16.6666666667%; }
  .col-xs-3 { flex: 0 0 25%; }
  .col-xs-4 { flex: 0 0 33.3333333333%; }
  .col-xs-5 { flex: 0 0 41.6666666667%; }
  .col-xs-6 { flex: 0 0 50%; }
  .col-xs-7 { flex: 0 0 58.3333333333%; }
  .col-xs-8 { flex: 0 0 66.6666666667%; }
  .col-xs-9 { flex: 0 0 75%; }
  .col-xs-10 { flex: 0 0 83.3333333333%; }
  .col-xs-11 { flex: 0 0 91.6666666667%; }
  .col-xs-12 { flex: 0 0 100%; }
  .col-xs-offset-1 { margin-left: 8.3333333333%; }
  .col-xs-offset-2 { margin-left: 16.6666666667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.3333333333%; }
  .col-xs-offset-5 { margin-left: 41.6666666667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.3333333333%; }
  .col-xs-offset-8 { margin-left: 66.6666666667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.3333333333%; }
  .col-xs-offset-11 { margin-left: 91.6666666667%; }
  .col-xs-offset-12 { margin-left: 100%; }
  .col-sm-1 { flex: 0 0 8.3333333333%; }
  .col-sm-2 { flex: 0 0 16.6666666667%; }
  .col-sm-3 { flex: 0 0 25%; }
  .col-sm-4 { flex: 0 0 33.3333333333%; }
  .col-sm-5 { flex: 0 0 41.6666666667%; }
  .col-sm-6 { flex: 0 0 50%; }
  .col-sm-7 { flex: 0 0 58.3333333333%; }
  .col-sm-8 { flex: 0 0 66.6666666667%; }
  .col-sm-9 { flex: 0 0 75%; }
  .col-sm-10 { flex: 0 0 83.3333333333%; }
  .col-sm-11 { flex: 0 0 91.6666666667%; }
  .col-sm-12 { flex: 0 0 100%; }
  .col-sm-offset-1 { margin-left: 8.3333333333%; }
  .col-sm-offset-2 { margin-left: 16.6666666667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.3333333333%; }
  .col-sm-offset-5 { margin-left: 41.6666666667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.3333333333%; }
  .col-sm-offset-8 { margin-left: 66.6666666667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.3333333333%; }
  .col-sm-offset-11 { margin-left: 91.6666666667%; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-md-1 { flex: 0 0 8.3333333333%; }
  .col-md-2 { flex: 0 0 16.6666666667%; }
  .col-md-3 { flex: 0 0 25%; }
  .col-md-4 { flex: 0 0 33.3333333333%; }
  .col-md-5 { flex: 0 0 41.6666666667%; }
  .col-md-6 { flex: 0 0 50%; }
  .col-md-7 { flex: 0 0 58.3333333333%; }
  .col-md-8 { flex: 0 0 66.6666666667%; }
  .col-md-9 { flex: 0 0 75%; }
  .col-md-10 { flex: 0 0 83.3333333333%; }
  .col-md-11 { flex: 0 0 91.6666666667%; }
  .col-md-12 { flex: 0 0 100%; }
  .col-md-offset-1 { margin-left: 8.3333333333%; }
  .col-md-offset-2 { margin-left: 16.6666666667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.3333333333%; }
  .col-md-offset-5 { margin-left: 41.6666666667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.3333333333%; }
  .col-md-offset-8 { margin-left: 66.6666666667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.3333333333%; }
  .col-md-offset-11 { margin-left: 91.6666666667%; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-lg-1 { flex: 0 0 8.3333333333%; }
  .col-lg-2 { flex: 0 0 16.6666666667%; }
  .col-lg-3 { flex: 0 0 25%; }
  .col-lg-4 { flex: 0 0 33.3333333333%; }
  .col-lg-5 { flex: 0 0 41.6666666667%; }
  .col-lg-6 { flex: 0 0 50%; }
  .col-lg-7 { flex: 0 0 58.3333333333%; }
  .col-lg-8 { flex: 0 0 66.6666666667%; }
  .col-lg-9 { flex: 0 0 75%; }
  .col-lg-10 { flex: 0 0 83.3333333333%; }
  .col-lg-11 { flex: 0 0 91.6666666667%; }
  .col-lg-12 { flex: 0 0 100%; }
  .col-lg-offset-1 { margin-left: 8.3333333333%; }
  .col-lg-offset-2 { margin-left: 16.6666666667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.3333333333%; }
  .col-lg-offset-5 { margin-left: 41.6666666667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.3333333333%; }
  .col-lg-offset-8 { margin-left: 66.6666666667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.3333333333%; }
  .col-lg-offset-11 { margin-left: 91.6666666667%; }
  .col-lg-offset-12 { margin-left: 100%; } }

@media only screen and (min-width: 1200px) { .container { width: calc(100% - 6rem); }
  .col-xs-1 { flex: 0 0 8.3333333333%; }
  .col-xs-2 { flex: 0 0 16.6666666667%; }
  .col-xs-3 { flex: 0 0 25%; }
  .col-xs-4 { flex: 0 0 33.3333333333%; }
  .col-xs-5 { flex: 0 0 41.6666666667%; }
  .col-xs-6 { flex: 0 0 50%; }
  .col-xs-7 { flex: 0 0 58.3333333333%; }
  .col-xs-8 { flex: 0 0 66.6666666667%; }
  .col-xs-9 { flex: 0 0 75%; }
  .col-xs-10 { flex: 0 0 83.3333333333%; }
  .col-xs-11 { flex: 0 0 91.6666666667%; }
  .col-xs-12 { flex: 0 0 100%; }
  .col-xs-offset-1 { margin-left: 8.3333333333%; }
  .col-xs-offset-2 { margin-left: 16.6666666667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.3333333333%; }
  .col-xs-offset-5 { margin-left: 41.6666666667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.3333333333%; }
  .col-xs-offset-8 { margin-left: 66.6666666667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.3333333333%; }
  .col-xs-offset-11 { margin-left: 91.6666666667%; }
  .col-xs-offset-12 { margin-left: 100%; }
  .col-sm-1 { flex: 0 0 8.3333333333%; }
  .col-sm-2 { flex: 0 0 16.6666666667%; }
  .col-sm-3 { flex: 0 0 25%; }
  .col-sm-4 { flex: 0 0 33.3333333333%; }
  .col-sm-5 { flex: 0 0 41.6666666667%; }
  .col-sm-6 { flex: 0 0 50%; }
  .col-sm-7 { flex: 0 0 58.3333333333%; }
  .col-sm-8 { flex: 0 0 66.6666666667%; }
  .col-sm-9 { flex: 0 0 75%; }
  .col-sm-10 { flex: 0 0 83.3333333333%; }
  .col-sm-11 { flex: 0 0 91.6666666667%; }
  .col-sm-12 { flex: 0 0 100%; }
  .col-sm-offset-1 { margin-left: 8.3333333333%; }
  .col-sm-offset-2 { margin-left: 16.6666666667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.3333333333%; }
  .col-sm-offset-5 { margin-left: 41.6666666667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.3333333333%; }
  .col-sm-offset-8 { margin-left: 66.6666666667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.3333333333%; }
  .col-sm-offset-11 { margin-left: 91.6666666667%; }
  .col-sm-offset-12 { margin-left: 100%; }
  .col-md-1 { flex: 0 0 8.3333333333%; }
  .col-md-2 { flex: 0 0 16.6666666667%; }
  .col-md-3 { flex: 0 0 25%; }
  .col-md-4 { flex: 0 0 33.3333333333%; }
  .col-md-5 { flex: 0 0 41.6666666667%; }
  .col-md-6 { flex: 0 0 50%; }
  .col-md-7 { flex: 0 0 58.3333333333%; }
  .col-md-8 { flex: 0 0 66.6666666667%; }
  .col-md-9 { flex: 0 0 75%; }
  .col-md-10 { flex: 0 0 83.3333333333%; }
  .col-md-11 { flex: 0 0 91.6666666667%; }
  .col-md-12 { flex: 0 0 100%; }
  .col-md-offset-1 { margin-left: 8.3333333333%; }
  .col-md-offset-2 { margin-left: 16.6666666667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.3333333333%; }
  .col-md-offset-5 { margin-left: 41.6666666667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.3333333333%; }
  .col-md-offset-8 { margin-left: 66.6666666667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.3333333333%; }
  .col-md-offset-11 { margin-left: 91.6666666667%; }
  .col-md-offset-12 { margin-left: 100%; }
  .col-lg-1 { flex: 0 0 8.3333333333%; }
  .col-lg-2 { flex: 0 0 16.6666666667%; }
  .col-lg-3 { flex: 0 0 25%; }
  .col-lg-4 { flex: 0 0 33.3333333333%; }
  .col-lg-5 { flex: 0 0 41.6666666667%; }
  .col-lg-6 { flex: 0 0 50%; }
  .col-lg-7 { flex: 0 0 58.3333333333%; }
  .col-lg-8 { flex: 0 0 66.6666666667%; }
  .col-lg-9 { flex: 0 0 75%; }
  .col-lg-10 { flex: 0 0 83.3333333333%; }
  .col-lg-11 { flex: 0 0 91.6666666667%; }
  .col-lg-12 { flex: 0 0 100%; }
  .col-lg-offset-1 { margin-left: 8.3333333333%; }
  .col-lg-offset-2 { margin-left: 16.6666666667%; }
  .col-lg-offset-3 { margin-left: 25%; }
  .col-lg-offset-4 { margin-left: 33.3333333333%; }
  .col-lg-offset-5 { margin-left: 41.6666666667%; }
  .col-lg-offset-6 { margin-left: 50%; }
  .col-lg-offset-7 { margin-left: 58.3333333333%; }
  .col-lg-offset-8 { margin-left: 66.6666666667%; }
  .col-lg-offset-9 { margin-left: 75%; }
  .col-lg-offset-10 { margin-left: 83.3333333333%; }
  .col-lg-offset-11 { margin-left: 91.6666666667%; }
  .col-lg-offset-12 { margin-left: 100%; }
  .col-xl-1 { flex: 0 0 8.3333333333%; }
  .col-xl-2 { flex: 0 0 16.6666666667%; }
  .col-xl-3 { flex: 0 0 25%; }
  .col-xl-4 { flex: 0 0 33.3333333333%; }
  .col-xl-5 { flex: 0 0 41.6666666667%; }
  .col-xl-6 { flex: 0 0 50%; }
  .col-xl-7 { flex: 0 0 58.3333333333%; }
  .col-xl-8 { flex: 0 0 66.6666666667%; }
  .col-xl-9 { flex: 0 0 75%; }
  .col-xl-10 { flex: 0 0 83.3333333333%; }
  .col-xl-11 { flex: 0 0 91.6666666667%; }
  .col-xl-12 { flex: 0 0 100%; }
  .col-xl-offset-1 { margin-left: 8.3333333333%; }
  .col-xl-offset-2 { margin-left: 16.6666666667%; }
  .col-xl-offset-3 { margin-left: 25%; }
  .col-xl-offset-4 { margin-left: 33.3333333333%; }
  .col-xl-offset-5 { margin-left: 41.6666666667%; }
  .col-xl-offset-6 { margin-left: 50%; }
  .col-xl-offset-7 { margin-left: 58.3333333333%; }
  .col-xl-offset-8 { margin-left: 66.6666666667%; }
  .col-xl-offset-9 { margin-left: 75%; }
  .col-xl-offset-10 { margin-left: 83.3333333333%; }
  .col-xl-offset-11 { margin-left: 91.6666666667%; }
  .col-xl-offset-12 { margin-left: 100%; } }

.toggle, [id^=drop] { display: none; }

/* Giving a background-color to the nav container. */
nav { margin: 0; padding: 0; background-color: #333; }

#logo { display: block; padding: 0 30px; float: left; font-size: 20px; line-height: 60px; color: #ecf0f1; }

/* Since we'll have the "ul li" "float:left" we need to add a clear after the container. */
nav:after { content: ""; display: table; clear: both; }

/* Removing padding, margin and "list-style" from the "ul", and adding "position:reltive" */
nav ul { float: right; padding: 0; margin: 0; list-style: none; position: relative; }

/* Positioning the navigation items inline */
nav ul li { margin: 0px; display: inline-block; float: left; background-color: #333; }

/* Styling the links */
nav a { display: block; padding: 14px 20px; color: #ecf0f1; font-size: 17px; text-decoration: none; }

nav ul li ul li:hover { background: #0a0a0a; }

/* Background color change on Hover */
nav a:hover { background-color: #0a0a0a; }

/* Hide Dropdowns by Default and giving it a position of absolute */
nav ul ul { display: none; position: absolute; /* has to be the same number as the "line-height" of "nav a" */ top: 60px; }

/* Display Dropdowns on Hover */
nav ul li:hover > ul { display: inherit; }

/* Fisrt Tier Dropdown */
nav ul ul li { width: 170px; float: none; display: list-item; position: relative; }

/* Second, Third and more Tiers	 We move the 2nd and 3rd etc tier dropdowns to the left by the amount of the width of the first tier. */
nav ul ul ul li { position: relative; top: -60px; /* has to be the same number as the "width" of "nav ul ul li" */ left: 170px; }

/* Change ' +' in order to change the Dropdown symbol */
li > a:after { content: ' ▾'; }

li > a:only-child:after { content: ''; }

/* Media Queries
--------------------------------------------- */
@media all and (max-width: 768px) { #logo { display: flex; padding: 0; width: 100%; float: none; margin-left: 20px; padding-right: 20px; flex-direction: row; justify-content: space-between; align-items: center; }
  nav { margin: 0; }
  /* Hide the navigation menu by default */
  /* Also hide the  */
  .toggle + a, .menu { display: none; }
  /* Stylinf the toggle lable */
  .toggle { display: inline-block; background-color: #333; padding: 14px 20px; color: #ecf0f1; font-size: 17px; text-decoration: none; border: none; }
  .toggle:hover { background-color: #0a0a0a; }
  /* Display Dropdown when clicked on Parent Lable */
  [id^=drop]:checked + ul { display: block; }
  /* Change menu item's width to 100% */
  nav ul li { display: block; width: 100%; }
  nav ul ul .toggle, nav ul ul a { padding: 0 40px; }
  nav ul ul ul a { padding: 0 80px; }
  nav a:hover, nav ul ul ul a { background-color: #0a0a0a; }
  nav ul li ul li .toggle, nav ul ul a, nav ul ul ul a { padding: 14px 20px; color: #ecf0f1; font-size: 17px; }
  nav ul li ul li .toggle, nav ul ul a { background-color: #333; }
  /* Hide Dropdowns by Default */
  nav ul ul { float: none; position: static; color: red; /* has to be the same number as the "line-height" of "nav a" */ }
  /* Hide menus on hover */
  nav ul ul li:hover > ul, nav ul li:hover > ul { display: none; }
  /* Fisrt Tier Dropdown */
  nav ul ul li { display: block; width: 100%; }
  nav ul ul ul li { position: static; /* has to be the same number as the "width" of "nav ul ul li" */ } }

@media all and (max-width: 330px) { nav ul li { display: block; width: 94%; } }

button, .btn, .btn-tiny, .btn-small, .btn-large, .btn-giant, a.btn, a.btn-tiny, a.btn-small, a.btn-large, a.btn-giant { border: 0; border-radius: 0; background-color: #ecf0f1; color: #0a0a0a; cursor: pointer; line-height: 1; font-family: inherit; font-size: 1.6rem; text-decoration: none; display: inline-block; padding: .75em 1.5em; outline: none; margin: 0.1em; }

button:hover, .btn:hover, .btn-tiny:hover, .btn-small:hover, .btn-large:hover, .btn-giant:hover, a.btn:hover, a.btn-tiny:hover, a.btn-small:hover, a.btn-large:hover, a.btn-giant:hover { -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3); -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3); box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3); }

button.btn-rounded, a.btn-rounded { border-radius: 5px; }

button.btn-pill, a.btn-pill { border-radius: 100px; }

button.btn-tiny, a.btn-tiny { font-size: 0.6em; }

button.btn-small, a.btn-small { font-size: 0.75em; }

button.btn-large, a.btn-large { font-size: 2em; font-weight: bold; }

button.btn-giant, a.btn-giant { font-size: 2.2em; font-weight: bold; padding: .75em 2em; }

button.btn-primary, a.btn-primary { background-color: #3498db; color: #ecf0f1; }

button.btn-success, a.btn-success { background-color: #27ae60; color: #ecf0f1; }

button.btn-highlight, a.btn-highlight { background-color: #e67e22; color: #ecf0f1; }

button.btn-caution, a.btn-caution { background-color: #e74c3c; color: #ecf0f1; }

.modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; height: 100%; width: 100%; overflow: auto; background-color: rgba(0, 0, 0, 0.3); }

.modal-content { background-color: #f4f4f4; margin: 50vh auto; transform: translateY(-50%); width: 70%; border-radius: 10px; box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17); animation-name: modalopen; animation-duration: 1s; }

.modal-header { background: #ecf0f1; padding: 10px; padding-left: 20px; color: #0a0a0a; border-top-left-radius: 10px; border-top-right-radius: 10px; }

.modal-header h1, .modal-header h2, .modal-header h3, .modal-header h4, .modal-header h5, .modal-header h6 { margin: 0; }

.modal-body { padding: 10px 20px; }

.modal-footer { background: #ecf0f1; padding: 10px; color: #333; text-align: center; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }

.modal-footer h1, .modal-footer h2, .modal-footer h3, .modal-footer h4, .modal-footer h5, .modal-footer h6 { margin: 0; }

.modalCloseBtn { color: #ccc; float: right; font-size: 30px; margin-right: 18px; }

.modalCloseBtn:hover, .modalCloseBtn:focus { color: #333; text-decoration: none; cursor: pointer; }

@keyframes modalopen { from { opacity: 0; }
  to { opacity: 1; } }
