button,
.btn,
.btn-tiny,
.btn-small,
.btn-large,
.btn-giant,
a.btn,
a.btn-tiny,
a.btn-small,
a.btn-large,
a.btn-giant {
    border: 0;
    border-radius: 0;
    background-color: $default-btn-color;
    color: $default-btn-text-color;
    cursor: pointer;
    line-height: 1;
    font-family: inherit;
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;
    padding: .75em 1.5em;
    outline: none;
    margin: 0.1em;
}

button:hover,
.btn:hover,
.btn-tiny:hover,
.btn-small:hover,
.btn-large:hover,
.btn-giant:hover,
a.btn:hover,
a.btn-tiny:hover,
a.btn-small:hover,
a.btn-large:hover,
a.btn-giant:hover {
    -moz-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

button.btn-rounded,
a.btn-rounded {
    border-radius: $button-rounded-corner-radius;
}

button.btn-pill,
a.btn-pill {
    border-radius: 100px;
}

button.btn-tiny,
a.btn-tiny {
    font-size: 0.6em;
}

button.btn-small,
a.btn-small {
    font-size: 0.75em;
}

button.btn-large,
a.btn-large {
    font-size: 2em;
    font-weight: bold;
}

button.btn-giant,
a.btn-giant {
    font-size: 2.2em;
    font-weight: bold;
    padding: .75em 2em;
}

button.btn-primary,
a.btn-primary {
    background-color: $primary-btn-color;
    color: $primary-btn-text-color;
}

button.btn-success,
a.btn-success {
    background-color: $success-btn-color;
    color: $success-btn-text-color;
}

button.btn-highlight,
a.btn-highlight {
    background-color: $highlight-btn-color;
    color: $highlight-btn-text-color;
}

button.btn-caution,
a.btn-caution {
    background-color: $caution-btn-color;
    color: $caution-btn-text-color;
}